@import '@sass/variables', '@sass/font.mixins';

.work_card {
  border: 1px solid $Gray;
  width: 100%;

  &__image {
    height: 200px;
    width: inherit;

    img {
      height: inherit;
      max-width: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__technologies {
    border-top: 1px solid $Gray;
    border-bottom: 1px solid $Gray;
    @include p16r;
    padding: 8px;
  }

  &__bottom {
    padding: 16px;

    &__title {
      margin: 0;
      @include h24m;
      color: $Secondary;
    }

    &__description {
      @include p16r;
    }

    &__buttons {
      display: flex;
      gap: 16px;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }

  @media (min-width: $lg) {
    max-width: 300px;
  }

  @media (min-width: $XL) {
    max-width: 320px;
  }
}
