@import '@sass/variables', '@sass/font.mixins';

@mixin genPseudoBtn($Color) {
  &:hover {
    background-color: rgba($Color, 0.3);
  }

  &:focus,
  &:active {
    background-color: rgba($Color, 0.3);

    &::before {
      content: '#';
      color: $Color;
    }
  }

  &:disabled,
  &[disabled] {
    border: 1px solid #000000;
    background-color: #000000;
    color: #000000;

    &::before {
      content: '';
    }
  }
}

.button {
  @include p16m;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 250ms;

  &_secondary {
    border: 1px solid $Gray;
    color: $Gray;
    @include genPseudoBtn(#000000);
  }

  &_primary {
    border: 1px solid $Primary;
    color: $Secondary;
    @include genPseudoBtn(#000000);
  }

  &_error {
    border: 1px solid #000000;
    color: #000000;
    @include genPseudoBtn(#000000);
  }
}
