@import '@sass/variables', '@sass/font.mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }
}