@import '@sass/variables', '@sass/font.mixins';


.page_heading {
  @include h32sb;
  color: $Secondary;
  margin: 0 0 14px 0;
  text-transform: lowercase;

  &::before {
    content: '/';
    @include h32sb;
    color: $Primary;
  }
}
