@import '@sass/variables', '@sass/font.mixins';

.footer {
  &__head {
    display: flex;
    justify-content: space-between;

    &__logo > p {
      margin: 0;
      @include p16r;
      color: $Secondary;
    }

    &__media {
      display: flex;
      flex-direction: column;

      &__title {
        @include h24m;
        color: $Secondary;
        margin: 20px 0 10px 0;
      }
    }
  }

  &__copyright {
    margin: 30px 0;
    text-align: center;
    @include p16r;
  }
}

.footer__hr {
  background-color: $Gray;
  height: 1px;
  border: 0;
  margin-top: 150px;
}
