@import '@sass/variables', '@sass/font.mixins';

.sign {
  color: $Primary;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;

  &__item {
    list-style: none;
    @include h32m;

    @media (min-width: $lg) {
      @include p16r;
    }
  }

  &__item_link {
    color: $Gray;
    text-decoration: none;
    transition: color 250ms ease-in-out;

    &:hover {
      color: $Secondary;
    }

    &::before {
      content: '#';
      color: $Primary;
    }
  }

  @media (min-width: $lg) {
    flex-direction: row;
  }
}
