@import '@sass/variables', '@sass/font.mixins';

.preview {
  position: relative;

  &__heading {
    max-width: 450px;
    margin: auto;

    &_title {
      @include h32sb;
      color: $Secondary;

      > span {
        color: $Primary;
      }
    }

    &_description {
      @include p16r;
    }
  }

  &__img {
    display: none;
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    margin: auto;

    img {
      max-width: inherit;
      max-height: inherit;
      width: inherit;
      height: inherit;
    }
  }

  @media (min-width: $lg) {
    display: flex;

    &__img {
      display: block;
    }
  }
}