//@font-face {
//  font-family: 'Gilroy', sans-serif;
//  src: url('../fonts/Gilroy-Thin.eot');
//  src:
//    url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
//    url('../fonts/Gilroy-Thin.woff') format('woff'),
//    url('../fonts/Gilroy-Thin.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Chronicle-Display-SB', serif;
//  src: url('../fonts/Chronicle Display Semibold.otf') format('opentype');
//  font-weight: 600;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Chronicle-Display-Roman', serif;
//  src: url('../fonts/Chronicle Display Roman.otf') format('opentype');
//  font-weight: 400;
//  font-style: normal;
//}