@import '@sass/variables';


.fixed_links {
  position: absolute;
  display: none;
  gap: 8px;
  left: 8px;

  &__line {
    width: 1px;
    height: 191px;
    background-color: $Gray;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}