@import '@sass/variables', '@sass/font.mixins';

.section_heading {
  display: flex;
  align-items: center;
  gap: 16px;

  &__title {
    @include h32m;
    text-transform: lowercase;
    color: $Secondary;

    &::before {
      content: '#';
      color: $Primary;
    }
  }

  &__line {
    display: none;

    @media (min-width: $md) {
      display: block;
      width: 240px;
      height: 1px;
      background-color: $Primary;
    }
  }
}
